{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
  <title>ElevenCrypto | Login</title>
{% endblock %}
{% block body %}
<div id="imageSlider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <!-- IMAGE 1 -->
    <div class="item active">
      <div class="parallax-window info-image" data-parallax="scroll" data-iosFix="true" data-image-src="{% static 'eleven/home-img/mountains.png' %}"></div>
      <div class="carousel-caption">
        <div class="login-container">
          <h1>Login</h1>
          <form class="login-form" method="post">
            {% csrf_token %}
            <p>{{ form.username }}</p>
            <p>{{ form.password }}</p>
            {% if form.errors %}
              <p class="error">Your username and password didn't match. Please try again.</p>
            {% endif %}
            <p class="login-p"><a href="#">Lost your password?</a></p>
            <button class="btn btn-default login-button" type="submit"><i id="login-icon" class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
